  <tr>
    <th>
      <label>
        <input type="checkbox" class="checkbox" />
      </label>
    </th>
    <td>
      <div class="flex items-center space-x-3">
       
        <div>
          <div class="font-bold">Administrateur</div>
        </div>
      </div>
    </td>
    <td>
      <button class = "btn-xs btn btn-primary">5999&nbsp;<i class="fa-solid fa-users"></i> &nbsp;</button>

    </td>
    <td>Administrateur</td>

    <th>
      <button class="btn btn-primary btn-xs">details</button>
    </th>
  </tr>