<div class="flex mt-2 transform scale-90 items-start space-x-4">
    <Avatar w3-include-html="src/components/User/Avatar.html"></Avatar>

    <div class="flex-grow">
        <div class="flex items-center justify-between">
            <div class="font-bold text-white">Utilisateur 2</div>
            <div class="text-xs text-white">27 mai 2023</div>
        </div>
        <div class="text-base text-white">
            Sed vestibulum lobortis dolor, non feugiat velit ultricies vel.
            Sed vestibulum lobortis dolor, non feugiat velit ultricies vel.

            
        </div>
        <div class="flex items-center space-x-2 mt-2">
            <a href="#" class="flex items-center text-white">
                Répondre<i class="ml-2 fa-solid fa-reply"></i>
            </a>
            
            <div class="flex justify-end w-full space-x-1 ml-auto">
                    <i class="fa-light text-2xl fa-circle-ellipsis-vertical"></i>
                        <ul tabindex="0" class="z-10 hidden mt-8 absolute dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                            <li><a><i class="fa-solid fa-pen"></i> Modifier</a></li>
                            <li><a><i class="fa-solid fa-trash"></i> Supprimer</a></li>
                            <li><a><i class="fa-solid fa-flag"></i> Signaler</a></li>
                          </ul>
                    
                    
              
            </div>
        </div>
    </div>
</div>