
    <!-- Ajouter un commentaire -->
    <div class="flex items-start space-x-4 mb-4">
        <Avatar w3-include-html="src/components/User/Avatar.html"></Avatar>

        <div class="flex-grow">
            <form class="w-full">
                <textarea class="w-full h-20 p-2 text-white bg-base-300 rounded-lg focus:outline-none mb-2" placeholder="Ajouter un commentaire"></textarea>
                <div class = "flex justify-end">
                    <button class="btn btn-primary">Envoyer</button>
                
                </div>
            </form>
        </div>
    </div>
