<div class="z-50 container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">Espace Commentaire</h1>



    <CommentForm w3-include-html="src/components/Comment/CommentForm.html"></CommentForm>
    
    <!-- Commentaires -->
    <div class="space-y-4 bg-base-200 card p-5">


        <CommentBox w3-include-html="src/components/Comment/CommentBox.html"></CommentBox>
       
        <CommentBoxReply w3-include-html="src/components/Comment/CommentBoxReply.html"></CommentBoxReply>


        <CommentBox w3-include-html="src/components/Comment/CommentBox.html"></CommentBox>
       
        <CommentBoxReply w3-include-html="src/components/Comment/CommentBoxReply.html"></CommentBoxReply>


        
    </div>
    <Pagination w3-include-html="src/components/Pagination.html"></Pagination>

    
</div>
