@tailwind base;
@tailwind components;
@tailwind utilities;

.daisy-table .dataTables_paginate .paginate_button {
    @apply btn btn-sm m-4 btn-outline;
}

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
}

.daisy-table .dataTables_paginate .current {
    @apply btn btn-sm m-4 btn-primary;
}
.daisy-table .dataTables_paginate{
    @apply flex justify-end;
}

.daisy-table :where(.table *:last-child) :where(*:last-child) :where(th, td):first-child {
    @apply rounded-b-none;
}

.daisy-table :where(.table *:last-child) :where(*:last-child) :where(th, td):last-child {
    @apply rounded-b-none;
}

.daisy-table select {
    @apply select select-bordered btn-md m-2;
}

.daisy-table .page-table_filter {
    @apply m-2;
}

.daisy-table input {
    @apply input input-bordered input-sm m-2;
}