<div class="fixed z-50 flex md:inline-flex h-full max-w-full max-w-[350px] text-base-content bg-base-300">
   <div class=" flex flex-col w-[80px] ">
        <div class=" flex justify-center items-center h-[64px]  p-3">
            <img src="./vite.svg" class="w-full h-full"/>
        </div>
        <div class="flex flex-col flex-grow items-center justify-center overflow-auto gap-3 py-4">
            <SideLinkCategory w3-include-html="src/components/DashboardSideBar/SideLinkCategory.html"></SideLinkCategory>
            <SideLinkCategory w3-include-html="src/components/DashboardSideBar/SideLinkCategory.html"></SideLinkCategory>
            <SideLinkCategory w3-include-html="src/components/DashboardSideBar/SideLinkCategory.html"></SideLinkCategory>
        </div>
        <div class="flex justify-center items-center h-[64px]  p-2">
            v1.0.0
        </div>
   
   </div>
   
   <div  class="test flex-grow w-[270px]  animate__animated animate__slideInLeft animate__faster bg-base-200">
    <div class=" flex items-center h-[64px] p-2">
        <p class="text-lg  font-bold">Category Title</p>
    </div>
    <ul class="menu h-full overflow-auto w-full">
        <li class="w-full"><a>Feature 1</a></li>
        <li class="bordered border-primary w-full"><a>Feature 2</a></li>

    </ul>
      
   </div>
</div>