<tr>
    <th class="bg-base-200 w-auto font-normal text-md">ChangeUserName</th>
    <td>
      <div class="form-control flex items-center">
        <input type="checkbox" checked="checked" class="checkbox checkbox-accent" />
      </div>
   </td>
   <td>
      <div class="form-control flex items-center">
        <input type="checkbox" checked="checked" class="checkbox checkbox-accent" />
      </div>
   </td>
   <td>
      <div class="form-control flex items-center">
        <input type="checkbox" checked="checked" class="checkbox checkbox-accent" />
      </div>
   </td>
  </tr>