<div class="modal modal-bottom opacity-100 pointer-events-auto visible sm:modal-middle">
  <div class="modal-box">
    <div class = "flex justify-center mb-5">
        <i class="fa-regular fa-circle-exclamation text-6xl text-red-500 animate__animated animate__headShake"></i>
    </div>
    <h3 class="font-bold text-lg text-center">Impossible de faire cette action</h3>
    <p class="py-4">Lorem ipsum dolor sit amet</p>
    <div class="modal-action">
      <label for="my-modal-6" class="btn">Yay!</label>
    </div>
  </div>
</div>
