      <!-- Pagination -->
      <div class="flex justify-center mt-4">
        <nav class="pagination">
            <ul class="flex space-x-2">
                <li>
                    <a href="#" class="btn btn-outline btn-sm text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                        </svg>
                        Précédent
                    </a>
                </li>
                <li>
                    <a href="#" class="btn btn-outline btn-sm text-white">1</a>
                </li>
                <li>
                    <a href="#" class="btn btn-outline btn-sm text-white">2</a>
                </li>

             
                <li>
                    <a href="#" class="btn btn-outline btn-sm text-white">
                        Suivant
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </div>