<ul class="menu bg-neutral p-2 rounded-box flex-row lg:flex-col w-full [&>li]:flex-grow [&>li]:flex lg:[&>li]:flex-col flex-nowrap [&>li]:flex-col overflow-auto [&>li>a]:flex [&>li>a]:flex-col lg:[&>li>a]:flex-row">
    <li>
      <a>
        <i class="fa-solid fa-house h-5 w-5 text-lg"></i>
      Mon profil
      </a>
    </li>
 
    <li>
      <a>
        <i class="fa-solid fa-gear h-5 w-5 text-lg"></i>
                Settings
      </a>
    </li>
  

    <li class="text-red-500 hover:text-red-800">
        <a>
          <i class="fa-solid fa-arrow-right-from-bracket h-5 w-5 text-lg"></i>
          Déconnexion
        </a>
      </li>
  
  
  </ul>
  