<ul class = "mt-5 flex gap-5 flex-col">
    <ProfilePageListRow w3-include-html="/src/components/User/ProfilePageListRow.html"></ProfilePageListRow>
    <ProfilePageListRow w3-include-html="/src/components/User/ProfilePageListRow.html"></ProfilePageListRow>

    <ProfilePageListRow w3-include-html="/src/components/User/ProfilePageListRow.html"></ProfilePageListRow>
    <ProfilePageListRow w3-include-html="/src/components/User/ProfilePageListRow.html"></ProfilePageListRow>

</ul>
<Pagination w3-include-html="/src/components/Pagination.html"></Pagination>
